.btns {
    display: flex;
}

.btn {
    height: 30px;
    width: 100px;
    background-color: aliceblue;
    box-shadow: 2px 2px;
    border-radius: 3px;
}
.btn:not(:first-child) {
    margin-left: 15px;
}