.container {
    margin-top: 10px;
    border: 2px solid;
    width: 200px;
    min-height: 200px;
}

.title {
    font-size: 16px;
    background-color: cornflowerblue;
}

h2 {
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.list {
    margin: 0;
    padding: 0;
    border-top: 2px solid;
}

.transaction {
    margin-left: 25px;
}